body {
  font-family: Arial, sans-serif;
  background: #b1eafa;
}

.container {
  width: 300px;
  margin: 100px auto;
  padding: 20px;
  background: white;
  border-radius: 8px;
  text-align: center;
}

input {
  width: 90%;
  padding: 8px;
  margin: 10px 0;
}

button {
  width: 95%;
  padding: 10px;
  background: #18751b;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #0b390e;
}
